@import "~antd/dist/antd.css";
$themeColor:rgba(0,0,0,0.5);
$bgWhiteColor:#f1f4f8;
$menuSelect:rgba(30, 194, 220, 0.3);
$afterColor:#209e91;
$fontColor:#fff;
$lineColor:rgba(0,0,0,.12);
@mixin FakeTransparent{
  background: url("./Assets/img/bg_react_blur.jpg") fixed;
  transition: none;
}
@mixin TransparentLine{
  border-color: $lineColor;
  box-shadow: 0 1px 0 0 rgba(255,255,255,.12)
}
html, body, #root,.App{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
  background-image: url('./Assets/img/back_react.jpg');
  .upBig{
    animation: .3s upBig forwards linear;
  }
  .getBig{
    animation: .3s getBig forwards linear;
  }
  @keyframes getBig {
    0%{
      opacity: 0;
      transform: scale(0,0);
    }
    50%{
      opacity: 0.5;
      transform: scale(0.5,0.5);
    }
    100%{
      opacity: 1;
      transform: scale(1,1);
    }
  }
  @keyframes upBig {
    0%{
      opacity: 0;
      transform: scale(0,0);
    }
    50%{
      opacity: 0.5;
      transform: scale(0.5,0.5);
    }
    100%{
      opacity: 1;
      transform: scale(1,1);
    }
  }
  .ant-layout{
    height: calc(100%);
    background-color: transparent;
  }
  .logo{
    color: $afterColor;
    text-align: center;
    font-size: 24px;
    cursor:pointer;
    a{
      color: $fontColor;
    }
    a:hover{
      color: $afterColor;
    }
  }
  .switch{
    border-color: $lineColor;
    box-shadow: 0 0 5px 0 rgba(255,255,255,.12);
    border-left: 1px solid;
  }
  //主体内容
  .container{
    flex:1 1 auto;
    overflow-y: auto ;
    overflow-x: hidden;
    //overflow: visible;
    position: relative;
  }
  .ant-tabs{
    flex: 0 0 48px;
    max-height: 48px;
    min-height: 48px;
    height: 48px;
  }
  .ant-layout-content{
    display:flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .ant-layout-header{
    padding: 0;
    background-color: $themeColor;
    position: relative;
  }
  .ant-layout-sider{
    background-color: transparent;
  }
  .ant-layout-footer{
    background-color: transparent;
    color: $fontColor;
    height: 16px;
    padding: 0;
  }
  .ant-menu-dark{
    background-color: $themeColor;
  }
  .ant-menu-inline,.ant-menu-inline-collapsed{
    background-color: $themeColor;
    color: $fontColor;
    .ant-menu-sub{
      background-color: transparent;
      a{
        color: $fontColor;
      }
      a:hover{
        color: $afterColor;
      }
    }
  }
  .ant-menu-item-selected{
    background-color: $menuSelect;
  }
  .ant-menu-item-selected::after{
    border-right-color: $themeColor;
  }
  .ant-menu-submenu-popup,.ant-menu-submenu > .ant-menu{
    @include FakeTransparent;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: $menuSelect;
  }
  .ant-dropdown-menu{
    @include FakeTransparent;
  }
  .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{
    background-color: $menuSelect;
  }
  .ant-menu-vertical .ant-menu-submenu-selected{
    color: $afterColor;
  }
  .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover{
    color: $themeColor;
  }
  .ant-menu-submenu-active:hover,.ant-menu-submenu-title:hover{
    color: $afterColor;
  }
  .ant-menu-submenu-title {
    &:hover{
      .ant-menu-submenu-arrow:before,.ant-menu-submenu-arrow:after{
        background: $afterColor
      }
    }

  }
  .ant-menu-horizontal{
    float: left;
  }
  .ant-breadcrumb{
    flex:0 0 auto;
  }
  .ant-dropdown-menu-item{
    text-align: center;
  }
  //btn checkBox
  .ant-checkbox-checked .ant-checkbox-inner,.ant-btn-primary,.ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: $afterColor;
    border-color: $afterColor;
  }
  .ant-menu-item:active, .ant-menu-submenu-title:active{
    background-color: transparent;
  }
  //tabs
  .ant-tabs-bar{
    @include TransparentLine;
    margin-top: 5px;
    margin-bottom: 5px!important;
    .ant-tabs-nav-wrap{
      .ant-tabs-tab{
        border-color: transparent;
        @include FakeTransparent;
      }
      .ant-tabs-tab-active{
        color: $afterColor;
      }
      .ant-tabs-nav .ant-tabs-tab:hover{
        color: $afterColor;
      }
    }
  }
  //表格
  .ant-table-wrapper{
    .ant-table{
      color: $fontColor;
      @include FakeTransparent;
      .ant-table-thead > tr > th{
        @include FakeTransparent;
        text-align: center;
      }
      .ant-table-tbody > tr > td{
        text-align: center;
      }
      .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
        background-color: $menuSelect;
      }
    }
  }
  //表格 placeholder
  .ant-table-placeholder{
    height: 540px;
    line-height: 540px;
    @include FakeTransparent;
    >div{
      display: inline-block;
    }
  }
  //表格 selected
  .ant-table-row-selected>td{
    @include FakeTransparent
  }
  //a标签
  a{
    text-decoration: none;
    color: $afterColor;
  }
  //分页按钮
  .ant-pagination-item-link,.ant-pagination-item{
    @include FakeTransparent
  }
  //卡片
  .ant-card{
    @include FakeTransparent;
    .ant-card-head{
      @include TransparentLine;
    }
  }
  //grid
  .dashboard>div{
    margin: 10px 0;
  }
  //select 下拉菜单选中
  .ant-select-dropdown-menu-item:hover{
    background-color: transparent;
    color: $fontColor;
  }
  .ant-select-dropdown-menu-item-selected{
    background-color: $menuSelect;
  }
  .ant-select-dropdown-menu-item-selected:hover{
    background-color: $menuSelect;
  }
  //scrollbar
  ::-webkit-scrollbar {
    width: .5em;
    height: .5em;
  }
  ::-webkit-scrollbar-thumb {
    background: $themeColor;
    border-radius: 10px;
    cursor: pointer;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  .admin{
    width: 120px;
    display: block;
    float: right;
    text-align: center;
    text-decoration: none;
  }
  .admin:hover{
    background-color: $menuSelect;
  }
  textarea::placeholder{
    color: #bfbfbf;
    text-indent: 8px;
  }
}

