.login{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .formBox{
    width: 300px;
    min-height: 300px;
    padding: 15px;
    border-radius: 5px;
    background: url("https://activity-pics.themobiyun.com/bg_react_blur.jpg") fixed;
    transition: none;
    .ant-form-item{
      margin-bottom: 10px;
    }
    .header{
      padding-bottom: 15px;
      font-weight: bolder;
      font-family:Arial,sans-serif ,Helvetica,"Helvetica Neue";
      font-size: 20px;
      text-align: center;
    }
    .loginBtn{
      width: 100%;
    }
  }
}