.xq-popBar{
  min-height: 40px;
  min-width: 50px;
  border: 1px solid #dfe6ec;
  background: url("../../Assets/img/bg_react_blur.jpg") fixed;
  position: absolute;
  left: -500px;
  margin-top: -35px;
  transition:.3s linear ;
  >button{
    margin: 5px 10px;
  }
}
.xq-popBar-show{
  left: 0;
}
.xq-popBar-hide{
  left: -500px;
}
